<div class="menu">
    <ul>
        <li><a href="http://localhost:1000">Ana Sayfa</a></li>
        <li><a href="http://localhost:1000/about">Hakkımızda</a></li>
        <li><a href="http://localhost:1000/skolyoznedir">Skolyoz Nedir</a></li>
        <li><a href="http://localhost:1000/skolyoztedavisi">Skolyoz Tedavisi</a></li>
    </ul>
</div>